table.table.dataTable.table-striped>tbody>tr:nth-of-type(2n+1).selected>*, table.table.dataTable>tbody>tr.selected>* {
    box-shadow: inset 0 0 0 9999px #f1f1f1;
    color: #000;
}
.dt-bootstrap5 .col-md-6.p-0{
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
}
.dt-bootstrap5 .col-md-6.p-0 .dt-buttons button{
    max-height: 34.8px;
}
.nav-tabs .nav-link {
    margin-bottom: calc(-1* var(--bs-nav-tabs-border-width));
    color: #000;
    background: #f9f9f9;
    border: 1px solid #f1f1f1f1;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: var(--bs-nav-tabs-link-active-color);
    background-color: var(--bs-nav-tabs-link-active-bg);
    border-color: var(--bs-nav-tabs-link-active-border-color);
    border-bottom: 2px solid var(--bs-nav-link-color);
}
@media screen and (min-width: 1024px){
    .dtr-control:before{
        display: none;
    }
}
.pulse {
    animation: pulse-animation 2s infinite;
}

@keyframes pulse-animation {
    0% {
        box-shadow: 0 0 0 0px rgba(23,198,83,0.4);
    }
    100% {
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }
}
.green-pulse{
    background: #66FF99;
}
